.mainPage{
    position: relative;
}

main{
    height: 100%;
    width: 85%;
    padding-left: 200px;
}

header{
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    padding: 0;
}

.logo{
    height: 70px;
    padding: 10px 0 10px 10px;
}

.navBar{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:  80%;
    padding-top: 30px;
    
}

.navBar_link{
    text-decoration: none;
    color: white;
    font-size: 24px;
    
}

.user{
    color: #E60000;
}

.dashboard{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dashboard_graph{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard_row{
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activity{
    height: 50%
}

.keyData_Card{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


