.homePage{
    height: 70vh;
}

main{
    height: 100%;
    width: 100%;
}

header{
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    padding: 0;
}

.logo{
    height: 70px;
    padding: 10px 0 10px 10px;
}

.navBar{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:  80%;
    padding-top: 30px;
    
}

.navBar_link{
    text-decoration: none;
    color: white;
    font-size: 24px;
    
}

.user_title, .objective_text{
    padding-left: 15%;
}

.user{
    color: #E60000;
}

.dashboard{
    margin: 0;
    padding-left: 15%;
    padding-right: 5%;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dashboard_graph{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard_row{
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activity{
    height: 50%
}

.keyData_Card{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-device-width : 1400px){
    .dashboard{
        height: 90%;
    }

    .dashboard_row{
        height: 30%;
    }

    .activity{
        height: 55%;
    }
}


