
.keyData{  
    height: 19%;
}

.keyData_content{
    display: flex;
    flex-direction: row;
    width: auto;
    background-color: #FBFBFB;
    padding: 20px 0px 20px 10%;
    border-radius: 10px 10px 10px 10px;
}

.keyData_img{
    width: 90px;
    height: 90px;
}

.keyData_infos{
    display: flex;
    flex-direction: column;
}

.keyData_value{
    padding-left: 30%;
    font-size: 20px;
    font-weight: bold;
}

.keyData_name{
    padding-left: 30%;
    color: grey;
}
